/**! Generales **/
* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

@media (print),
(prefers-reduced-motion: reduce) {
    .animated {
        -webkit-animation-duration: 1ms !important;
        animation-duration: 1ms !important;
        -webkit-transition-duration: 1ms !important;
        transition-duration: 1ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
    }
}

/**! Generales **/

/**? Navbar **/
.nav img {
    width: 120px;
}

.image {
    width: 120px;
}

.nav {
    background-color: #bb595f !important;
    font-family: fantasy;
    font-size: 30px;
}

/**? Navbar **/

/** Hero **/
.hero h1 {
    text-align: center;
    font-size: 70px;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.coco {
    background-color: #A62C2A;
}

.hero img {
    padding: inherit;
    margin: auto;
    width: 450px;
    display: block;
}

/** Hero **/

/**! Quienes **/
.quienes {
    text-align: center;
    padding: 10px;
    background-color: #A62C2A;
}

.quienes h2{
    font-size: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.quienes h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    color: black;
}

.quienes h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: black;
}

.organizacion section img {
    width: 440px;
}

.organizacion section h3 {
    text-align: center;
    color: black;
}

.organizacion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    background-color: #A62C2A;
}

.fotos {
    text-align: center;
    padding: 25px;
    background-color: #A62C2A;
    display: inline-flexbox;
}

.organizacion {
    justify-items: center;
}

.fotos h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    color: black;
}

/**! Quienes **/

/**? Call to action **/
.call {
    padding: 25px;
    text-align: center;
    padding-bottom: 50px;
    background-color: #A62C2A;
    color: black;
}

.call h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
}

.call h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-decoration: underline;
}

.call h4 {
    border: 4px solid #90151C;
    display: inline-flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.call a {
    text-decoration: none;
    color: black;
}

/**? Call to action **/

/** Footer **/
footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    background-color: #90151C;
}

.redes {
    text-align: center;
    text-decoration: none;
    color: black;
}

.redes a {
    text-decoration: none;
    color: black;
}

.mapa {
    text-align: center;
    color: black;
}

/**! Planes **/
.explicacion {
    text-align: center;
    padding-bottom: 50px;
}

.explicacion h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    color: black;
}

.explicacion h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: black;
}

.item h5 {
    text-align: center;
    text-decoration: underline;
}

.item ul li {
    text-align: justify;
}

.item {
    align-items: center;
}

.planes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
}

.planes {
    justify-items: center;
}

.color {
    background-color: #A62C2A;
}

/**! Planes **/

/**? Politicas **/
.politicas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 50px;
    text-align: justify;
    background-color: #A62C2A;
}

.politicas {
    justify-items: center;
}

.politicas img {
    width: 280px;
}

.social img {
    width: 230px;
    height: auto;
}